In [ ]:
#IF/ElSE

In [2]:
if False:
    print('BACON!!!!')

In [5]:
x = True

if x:
    print('it wud tru')
else:
    print('it wud fals')

it wud tru

In [10]:
loc = 'yo house'

if loc == 'Auto Shop':
    print('Sweet Car')
elif loc == 'Bank':
    print('Nice Money yo')
elif loc == 'yo house':
    print('nice crib yo')
else:
    print('Da Fuq?')

nice crib yo

In [12]:
person = 'elijah'

if person == 'sam':
    print('hi sam')
else:
    print('whats yo name')

whats yo name

In [13]:
#FOR LOOOOOPS

In [14]:
l = [1,2,3,4,5]

In [23]:
for num in l:
    if num%2 == 0:
        print('bacon ' + str(num))

bacon 2
bacon 4

In [24]:
l = [3,5,2,7,3,4,2,1,4,2]

In [25]:
l.sort()

In [26]:
l

[1, 2, 2, 2, 3, 3, 4, 4, 5, 7]

In [32]:
for num in l:
    if num%2 != 0:
        print(str(num) + ' is odd')
    elif num%2 == 0:
        print(str(num) + ' is even')

1 is odd
2 is even
2 is even
2 is even
3 is odd
3 is odd
4 is even
4 is even
5 is odd
7 is odd

In [34]:
list1 = [1,5,3,56,6,3,4,3,2,3,3,35]
list_sum = 0

for num in list1:
    print(num)
    list_sum += num
    
print(list_sum)

1
5
3
56
6
3
4
3
2
3
3
35
124

In [35]:
s = 'dis be a string!'

for letter in s:
    print(letter)

d
i
s

b
e

a

s
t
r
i
n
g
!

In [36]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [46]:
tup1 = [(2,3),(1,3),(19,2)]

In [47]:
for item in tup1:
    print(item)

(2, 3)
(1, 3)
(19, 2)

In [49]:
for (item1,item2) in tup1:
    print(item2)

3
3
2

In [57]:
dict1 = {'a':1, 'b':2, 'c':3}

for x,y in dict1.items():
    print('{' + str(x) + ',' + str(y) + '}')

{b,2}
{c,3}
{a,1}

In [58]:
#WHILE LOoooooooOOOps

In [67]:
x = 0

while x <= 10:
    print('bacon' + str(x))
    x += 1
else:
    print('done yo')

bacon0
bacon1
bacon2
bacon3
bacon4
bacon5
bacon6
bacon7
bacon8
bacon9
bacon10
done yo

In [73]:
x = 0

while x < 10:
    print('x is currently ', str(x))
    print(' x is still less then 10, addin 1 now!')
    x += 1
    if x == 3:
        print('  x is three!~!!!!@!@!!!!')
        break
    else:
        print('  continuing...')
        continue

x is currently  0
 x is still less then 10, addin 1 now!
  continuing...
x is currently  1
 x is still less then 10, addin 1 now!
  continuing...
x is currently  2
 x is still less then 10, addin 1 now!
  x is three!~!!!!@!@!!!!

In [74]:
#Range function

In [87]:
x = list(range(10))

In [88]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
start = 0
stop = 20
step = 4
list(range(start,stop+1,step))

[0, 4, 8, 12, 16, 20]

In [96]:
l = [1,2,3,4,5]
for num in l:
    print(num)

1
2
3
4
5

In [99]:
for num in range(1,1000):
    if num%51== 0:
        print(num)

51
102
153
204
255
306
357
408
459
510
561
612
663
714
765
816
867
918
969

In [100]:
type(range(0,2))

range

In [101]:
type(list(range(0,2)))

list

In [106]:
#Comprehensions

In [113]:
lst = []

for letter in 'word':
    lst.append(letter)
    
print(lst)

['w', 'o', 'r', 'd']

In [111]:
l = [letter for letter in 'bacon']

In [112]:
l

['b', 'a', 'c', 'o', 'n']

In [114]:
value = [x**2 for x in range(0,11)]

In [115]:
value

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [120]:
lst2 = [num for num in range(11) if num%2 == 0 or num%3 == 0]

In [121]:
lst2

[0, 2, 3, 4, 6, 8, 9, 10]

In [128]:
celcius = [0, 10, 22.2]

fahrenheight = [(temp * 1.8 + 32) for temp in celcius]
fahrenheight

[32.0, 50.0, 71.96000000000001]

In [131]:
lst3 = [x**2 for x in [x**2 for x in range(11)]]; lst3

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]